<style>
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
   
}


header {
  background-image:url("images/bhop.jpg");
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: wheat;
}


nav {
  float: left;
  width: 25%;
  height: 1700px;
  background:coral;
  padding: 2pxpx;
}


nav ul {
  list-style-type: none;
  padding:1px;
}

article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #f1f1f1;
  height: auto;
}
img {
  opacity: 0.5;
  filter: alpha(opacity=50); 
}

img:hover {
  opacity: 1.0;
  filter: alpha(opacity=100); 
}

section:after {
  content: "";
  display: table;
  clear: both;
}


footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}


@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}
.topnav a input {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
 {
  overflow:hidden ;
  display: inline;
  }
  a:link, a:visited {
    width:70px;
  ;


  a:hover, a:active {
    width:150px;
  background-color: blueviolet;
}
.margin{
    margin-left: 35px;
}
.footer{
    text-align:left;
}

div.fixed
            {
               position: fixed;
               bottom: 1%;
               right:1%;
               border: 2px solid rebeccapurple;
               padding: 10px;
               width:200px;
               text-align: center;
               background-color:black;
               color:wheat;
            }
</style>